@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  text-shadow: none;
  @apply bg-selection text-bg;
}

#nprogress .bar {
  @apply bg-selection text-bg;
}

#nprogress .spinner {
  display: none;
}

html {
  scroll-behavior: smooth;
}

/* markdown */

.article h1 {
  @apply mb-5 text-5xl font-bold mt-14;
}
.article h2 {
  @apply mt-10 mb-2 text-4xl font-semibold;
}

.article h3 {
  @apply mt-8 mb-2 text-3xl font-normal text-gray-700 dark:text-gray-200;
}

.article h4 {
  @apply mt-8 mb-1 text-2xl;
}

.article h5 {
  @apply mt-6 mb-1 text-xl text-gray-700 dark:text-gray-200;
}

.article h6 {
  @apply mb-0.5 text-gray-500 mt-6 dark:text-gray-700;
}

.article p {
  @apply my-4 text-gray-600 dark:text-white leading-7;
}
.article ol {
  @apply list-decimal;
}
.article ul {
  @apply list-disc;
}
.article li {
  @apply mt-1;
}
.article hr {
  @apply mt-5 border-none;
}

.remark-code-title {
  @apply p-4 mt-4 -mb-2 text-gray-500 border-b-2 border-gray-100 rounded-t-lg dark:border-light-gray bg-gray-50 dark:bg-lightest-gray;
}

.article pre::-webkit-scrollbar {
  display: none;
}

.article pre {
  @apply rounded-b-lg bg-gray-50 dark:bg-lightest-gray;
}

.article code < div {
  @apply p-2 rounded-lg bg-gray-50 dark:bg-lightest-gray;
}

.article code {
  font-family: 'Fira Code', monospace !important;
  @apply bg-gray-50 dark:bg-lightest-gray;
}

.article img {
  @apply rounded-lg;
}

/* command palette */

.my-modal {
  width: 700px;
  position: absolute;
  top: 80px;
  left: 50%;
  right: auto;
  bottom: auto;
  border: 0px none;
  outline: none;
  box-shadow: rgb(0, 0, 0) 0px 2px 4px 0px;
  margin-right: -50%;
  transform: translate(-50%, 0px);

  @apply rounded-md bg-bg;
}

.my-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.75);
}

.my-header {
  color: #d7dae0;
}

.my-content {
  box-shadow: rgb(0, 0, 0) 0px 2px 4px 0px;
  position: absolute;
  top: 80px;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, 0);
  border: 0px none;
  background: rgb(48, 51, 56);
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: none;
  min-width: 600px;
}

.my-container {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  font-weight: lighter;
  font-size: 12px;
}

.my-containerOpen {
}

.my-input {
  width: 700px;
  outline: none;

  @apply text-fg text-lg rounded-md bg-bg p-4;
}

.my-inputOpen {
}

.my-inputFocused {
}

.my-suggestionsContainer {
}

.my-suggestionsContainerOpen {
  overflow: hidden;
  max-height: 315px;
  margin-top: 10px;
}

.my-suggestionsList {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.my-suggestion {
  border-top: 0px none;
  cursor: pointer;

  @apply font-medium text-sm bg-bg text-cg p-4;
}

.my-suggestion b {
  color: #598cef;
  font-weight: bold;
}
.my-suggestionFirst {
}

.my-suggestionHighlighted {
  @apply bg-lightest-gray text-fg;
}

.my-spinner {
  border-top: 0.4em solid rgba(255, 255, 255, 0.2);
  border-right: 0.4em solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.4em solid rgba(255, 255, 255, 0.2);
  border-left: 0.4em solid rgb(255, 255, 255);
}
